.connect {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.share-connexion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #007c1d;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #007c1d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-box button:hover {

    background: rgb(107, 107, 106);
}



.login-box button:act {
    background: rgb(7, 129, 58);
}

.login-box button:focus {
    background: rgb(5, 202, 87);
}


.login-box .divider {
    margin: 20px 0;
    font-weight: bold;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}