html {}

body {
    font-family: var(--font-family-base);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background: white;
}

.main-content:before {
    content: '';
    display: block;
    background-color: green;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.breadcrumb {

    display: flex;
    flex-direction: row;
}