#header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: var(--font-family-title);
}


#header .logo {
    padding: 10px 20px;

}

#header .logo img {
    height: 50px;
}


#header nav,
#header nav ul {
    display: flex;
    width: 100%
}

#header nav ul li a {
    color: #056608;
    text-decoration: none;
    padding: 10px;

}

#header nav ul li:nth-child(4) {
    margin-left: auto;
}