body.has-share {
    overflow: hidden;
}


body.has-share .sharewrapper {
    display: block;
}

.sharewrapper {
    /* Cache un element */
    display: none;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 20px;
}




.share {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background: white;
    top: 30%;
    position: relative;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
}

.share_title {
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 05;


}

.share_title .btn img {
    width: 20px;
    height: 20px;
}

.share_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {

        display: flex;
        flex-direction: column;
    }

}

.share_content a {
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    font-size: 14px;
}

.share_content .btn {
    border-radius: 60px;
    padding: 10px;
    border-bottom: 1px dotted black;
}

.share_content .btn:hover {
    background: rgb(107, 107, 106);
}



.share_content .btn:active {
    background: rgb(7, 129, 58);
}

.share_content .btn:focus {
    background: rgb(5, 202, 87);
}

.share_content .btn-facebook {
    background: #F0F0F0;
}

.share_content .btn-twitter {
    background: #F0F0F0;
}

.share_content .btn-pinterest {
    background: #F0F0F0;
}